---
---
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}


.bottom-nav{
  background-color: rgba(24,24,24,.9);
}

.photo-caption{
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 10px;
}

nav {
  background-color: rgba(24,24,24,.2);
  position: fixed;
  margin: 0;
  padding: 5px 40px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  transition: all 1s;
  a {
    color: white;
  }

  img {
    height: 40px;
    position: relative;
    left: -10px;
  }

  #nav-logo{
    font-size: 30px;
  }
  a{
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
    margin-left: 20px;
  }
}

ul {
  padding-left: 0;
  list-style-type: none;
}

@keyframes up-down {
  0% {top: 10px;}
  100% {top: 30px;}
}

.landing-logo {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 30vw;
  margin: 0;
  background: url("{{site.baseurl}}/images/bootstrap/map1.png") no-repeat center center scroll;
  background-size: cover;
  img {
    width: 100px;
    left: -40px;
    top: 25px;
    position: relative;
  }
}

.slogan {
  font-size: 32px;
  height: 20vh;
  color: white;
  h1 {
    margin: 0;
  }
}

section {
  background: rgba(255,255,255,1);
  color: #242424;
  min-height: 50vh;
  width: 70vw;
  margin: 10px auto;
  padding: 50px calc(50% - 580px);

  h1,
  h2,
  h3 {
    margin: 30px auto;
    text-align: center;
    font-size: 2em;
  }
  img {
    max-height: 300px;
  }
  video{
    max-width: 600px;
  }
}

#Overview{
  .center{
    width: 100%;
    text-align: center;
  }
  img{
    max-width: 600px;
    margin: 20px 0;
  }
}

#Team{
  padding: 0;
}

#Video{
  text-align: center;
}

#team-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  color: #242424;

  .team-member {
    width: 270px;
    height: 400px;
    border-radius: 10px;
    background: #eee;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    padding: 20px;
    text-align: center;

    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }

    .team-name {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #242424;
      font-size: 1.2em;
    }

    .team-role {
      font-style: italic;
    }

    .team-contact,
    .team-desc {
      font-size: 0.9em;
    }
  }
}

footer {
  text-align: center;
  margin: 0;
  margin-top: 100px;
  background: #242424;
  color: white;
  bottom: 0;
  position: relative;
  height: 50px;
}
