<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/new_style.css">

  <title>PIN</title>
</head>

<body>

  <nav>
    <a href="{{site.baseurl}}/" id="nav-logo"><span>PIN</span> <img src="{{site.baseurl}}/images/logo.png" alt="PIN logo"></a>
    <ul>
      <li><a href="{{site.baseurl}}/#Overview">Overview</a></li>
      <li><a href="{{site.baseurl}}/#Video">Video</a></li>
      <li><a href="{{site.baseurl}}/#Team">Team</a></li>
      <li><a href="{{site.baseurl}}/posts/">Appendix</a></li>
    </ul>
  </nav>

  {{ content }}

  <footer>© 2017 - {{ site.time | date: "%Y" }}</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/js/custom_scripts.js"></script>
</body>

</html>
